#board {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: rgb(245, 247, 250);
}

.card {
    width: 90%;
    height: 95%;
    max-width: 400px;
    max-height: 695px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    box-shadow: 0px 4px 4px 0px #8686861a;
    background-color: black;
    transform: translateX(-50%) translateY(-50%) scale(0.95);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card .poster img{
    border-radius: 3px 3px 0 0;
}

.card .content{
    color: #cecece;
    text-align: center;
    padding: 5px 10px;
    font-weight: 600;
    font-family: monospace;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.card .info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.card .info .year img{
    float: left;
    height: 15px;
    margin-right: 8px;
}

.card .info .vote img{
    float: right;
    height: 15px;
    margin-left: 8px;
}

.card .moreinfo{
    position: absolute;
    top: 0;
    height: 100%;
    background: #000000b0;
    color: white;
    padding: 15px;
    text-align: justify;
}

.card .moreinfo .original_language{
    text-transform: uppercase;
    float: left;
}

.card .moreinfo .original_language .flag{
    float: left;
    height: 18px;
    margin-right: 8px;
}

.card .moreinfo .vote_average{
    float: right;
}

.card .moreinfo .vote_average .rating{
    float: right;
    height: 18px;
    margin-left: 8px;
}

.card .moreinfo .overview{
    margin-top: 40px;
}
