#board {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.card {
    width: 85%;
    height: auto;
    max-width: 400px;
    max-height: 695px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 4px 4px 0px #8686861a;
    background-color: #000000;
    transform: translateX(-50%) translateY(-50%) scale(0.95);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.card .poster{
    height: auto;
    overflow: hidden;
}

.card .poster img{
    border-radius: 3px 3px 0 0;
    min-height: 60vh;
}

.card .content{
    color: #cecece;
    background-color: #093b55;
    text-align: center;
    padding: 5px 10px;
    font-weight: 600;
    font-family: monospace;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 50px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-end;
}
.card .content .title{
    position: absolute;
    bottom: 20px;
    background-color: #093b55;
    padding: 10px 5px;
    width: 100%;
    left: 0;
    border-top: 2px solid #092e42;
}
.card .info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.card .info .year img{
    float: left;
    height: 15px;
    margin-right: 8px;
}

.card .info .vote img{
    float: right;
    height: 15px;
    margin-left: 8px;
}

.card .moreinfo{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000000de;
    color: white;
    padding: 15px;
    text-align: justify;
}

.card .moreinfo .original_language{
    text-transform: uppercase;
    float: left;
}

.card .moreinfo .original_language .flag{
    float: left;
    height: 18px;
    margin-right: 8px;
}

.card .moreinfo .vote_average{
    float: right;
}

.card .moreinfo .vote_average .rating{
    float: right;
    height: 18px;
    margin-left: 8px;
}

.card .moreinfo .overview{
    margin-top: 40px;
    max-height: 320px;
    overflow: hidden;
}

.card .moreinfo .providers{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 100px;
    height: 100px;
    flex-wrap: wrap;
    display: none;
}

.card .moreinfo .providers .lang,
.card .moreinfo .providers .type{
    height: 30px;
    width: 50%;
}
.card .moreinfo .providers .lang_label:after,
.card .moreinfo .providers .type_label:after {
    width: 0;
    height: 0;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content: '';
    position: absolute;
    right: 10px;
    top: 5px;
    transform: rotate(45deg);
}

body.dark .card .moreinfo .providers .lang_label:after,
body.dark .card .moreinfo .providers .type_label:after {
    border-top: 5px solid white;
    border-left: 5px solid white;
}

.card .moreinfo .providers .lang_label:before,
.card .moreinfo .providers .type_label:before {
    width: 0;
    height: 0;
    border-top: 5px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid black;
    border-bottom: 5px solid transparent;
    content: '';
    position: absolute;
    right: 10px;
    top: 10px;
    transform: rotate(135deg);
}


body.dark .card .moreinfo .providers .lang_label:before,
body.dark .card .moreinfo .providers .type_label:before {
    border-top: 5px solid white;
    border-right: 5px solid white;
}

.card .moreinfo .providers .lang .lang_label,
.card .moreinfo .providers .type .type_label{
    text-align: center;
    background: white;
    color: black;
    padding: 3px;
    margin: 2px;
    text-transform: capitalize;
    position: relative;
}

body.dark .card .moreinfo .providers .lang .lang_label,
body.dark .card .moreinfo .providers .type .type_label{
    background: #2e2e2e;
    color: white;
}

.card .moreinfo .providers .type .type_container,
.card .moreinfo .providers .lang .lang_container{
    display: none;
    position: fixed;
    background: white;
    color: black;
    width: 95%;
    padding: 18px;
    flex-wrap: wrap;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    z-index: 1;
    max-height: 37vh;
    overflow: scroll;
    border: 1px solid #8f8f8f;
}

.card .moreinfo .providers .type .type_container{
    justify-content: space-around;
}

body.dark .card .moreinfo .providers .type .type_container,
body.dark .card .moreinfo .providers .lang .lang_container{
    background: #082331;
    color: white;
}

.card .moreinfo .providers .lang .lang_container span{
    margin: 11px 0;
    width: 25%;
    text-align: center;
}

.card .moreinfo .providers .type .type_container span{
    width: auto;
    text-transform: capitalize;
}

.card .moreinfo .providers .flag{
    height: 14px;
    margin-right: 8px;
    max-width: 20px;
}

.card .moreinfo .providers .container{
    height: 70px;
    width: 100%;
    background: white;
    color: black;
    padding: 2px;
    white-space: nowrap;
    overflow: scroll;
}

body.dark .card .moreinfo .providers .container{
    background: #2e2e2e;
    color: white;
}

.card .moreinfo .providers .container img{
    width: 56px;
    margin: 3px;
}

.card .trailer{
    margin-top: 20px;
    text-align: center;
}

.card .trailer a{
    background: #082331;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.card .trailer.youtube a{
    background: #961818;
}

.card .trailer.vimeo a {
    background: #186496;
}

.friend-avatar{
    margin-right: 5px;
}
ion-list.mm-list{
    width: 100%;
}

.friends-matches-badge{
    background: #084229;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 2px;
    border-radius: 3px;
    text-align: center;
    color: white;
    min-width: 15px;
    font-size: 10px;
    border: 1px solid #032516;
    box-shadow: 1px 1px 4px black;
}

.swiper-slide img{
    width: 100%;
}

.swiper-slide .card img{
    width: auto;
    top: 3px;
    position: relative;
    max-width: 100%;
    height: auto;
    max-height: none;
}

.swiper-slide .card .content {
    padding: 0px 10px;
}

.swiper-slide .selected_board .card .moreinfo{
    top: 0;
    width: 97vw;
    height: 88vh;
    height: calc(100vh - 100px);
}

.qr-img-btn{
    position: absolute;
    top: 20px;
    right: 0;
}

.qr-img-container{
    background-color: #ffffff85;
}

.qr-img-container .popover-content{
    padding: 20px;
    background-color: white;
    width: 80%;
    top: 40px!important;
}

.qr-img-container .popover-content ion-img{
    max-width: 300px;
    margin: 0 auto 30px auto;
}

.mm-bold{
    font-weight: bold!important
}

.mm-cat-img{
    margin: 0 25px 0 0;
    width: 30px;
}

.floating-toggle{
    position: absolute;
    top: 10px;
    right: 10px;
}

.menu-secondary-list {
    padding: 0!important;
    margin-bottom: 18px;
}

.right-slide{
    position: absolute;
    background: #107d18;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(14,175,19,1) 100%);
    width: 50%;
    height: 100%;
    z-index: 1;
    top: 0;
    right: 0;
    opacity: 0;
}

.left-slide{
    position: absolute;
    background: #931c0d;
    background: linear-gradient(90deg, rgba(147,28,13,1) 0%, rgba(175,14,14,0) 100%);
    width: 50%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0;
}

#thumbs_up,
#thumbs_down{
    position: fixed;
    width: 62px;
    height: 65px;
    background: url(/assets/thumbs_spring.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 9;
    top: 70%;
}

#thumbs_down{
    left: 0;

}
#thumbs_up{
    right: 0;
    background-position: right;
}

.dark-mode-btn{
    margin-right: -12px;
}


body.dark .mm-cat-img{
    webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

body.dark .card{
    box-shadow: 0px 4px 4px 0px #051f2dba;
}

.mm-indicator{
    position: absolute;
    display: block;
    width: 13px;
    height: 13px;
    background: red;
    z-index: 1;
    top: 17px;
    left: 33px;
    border-radius: 50%;
    border: 3px solid #ffffff;
}

.mm-indicator.in-menu{
    right: 10px;
    top: 6px;
    left: auto;
}

body.dark .mm-indicator {
    border: 3px solid #082331;
}

.suggest-container{
    position: absolute;
    width: 40px;
    height: 40px;
    background: #208419;
    z-index: 9999;
    top: 65px;
    right: 7px;
    border-radius: 50%;
    box-shadow: 0px 3px 4px black;
}

.suggest-container .plus{
    --t: 2px;
    --l: 40px;
    --s: 10px;
    --c1: #ffffff;
    --c2: #208419;
    display: inline-block;
    width: var(--l);
    height: var(--l);
    padding: var(--s);
    box-sizing: border-box;
    background: linear-gradient(var(--c1),var(--c1)) content-box, linear-gradient(var(--c1),var(--c1)) content-box, var(--c2);
    background-position: center;
    background-size: 100% var(--t),var(--t) 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    position: relative;
    z-index: 2;
}

body.dark .suggest-container .plus{
    --c1: #000000;
}

.suggest-container.open .plus{
    transform: rotateZ(45deg);
}

.suggested-friend-icon{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100%;
    border: 1px solid #082331;
    width: 40px;
    height: 40px;
}

.suggest-friends-list{
    position: absolute;
    top: 30px;
    right: 0;
    width: 300px;
    z-index: 1;
    display: none;
}

.suggest-container.open .suggest-friends-list{
    display: block;
}

.suggest-friends-list .title{
    position: absolute;
    top: -31px;
    display: block;
    width: 300px;
    padding-bottom: 3px;
    font-size: 14px;
}

.suggest-container .suggest-friends-list .title:after{
    content: "";
    height: 1.8px;
    width: 300px;
    display: block;
    background: #208419;
    margin-top: 2px;
}

.suggest-friends-list ul{
    position: absolute;
    top: -20px;
    right: 22px;
    z-index: 1;
    width: 320px;
    max-height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
}

.suggest-friends-list ul li{
    background: #ffffff;
    border: 1px solid #cdcdcd;
    border-bottom: 1px solid #01070a;
    margin-bottom: 2px;
    padding: 13px 0 13px 48px;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 3px 4px black;
}
.suggest-friends-list ul li.suggested{
    opacity: 0.8;
}

.suggest-friends-list ul li.suggested img{
    opacity: 0.3;
}

body.dark .suggest-friends-list ul li {
    background: #02121b;
    border: none;
    border-bottom: 1px solid #01070a;
}

.suggest-friends-list ul li img{
    width: 35px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.suggest-friends-list ul li span{
    font-size: 13px;
    white-space: nowrap;
}

.logo{
    max-width: 170px;
    margin: 60px auto 30px auto;
}

.login-title{
    text-align: center;
    border-bottom: 1px solid #939393;
    padding: 10px;
}

.providers-filter{
    max-height: 150px;
    overflow: scroll;
}

.providers-filter img{
    margin: 5px;
    width: 50px;
}

.providers-filter img.selected{
    border: 3px solid #7fa650;
}

.providers-filter span{
    display: block;
    margin: 6px;
    text-align: center;
}

.not-my-group-item{
    color: #bfbfbf;
}

.add-friends-button{
    width: 100%;
}

.add-friends-button button{
    padding: 19px;
    background: #00000054!important;
}
