#board {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: rgb(245, 247, 250);
}

.card {
    width: 90%;
    height: auto;
    max-width: 400px;
    max-height: 695px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    box-shadow: 0px 4px 4px 0px #8686861a;
    background-color: black;
    transform: translateX(-50%) translateY(-50%) scale(0.95);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card .poster{
    height: 490px;
    overflow: hidden;
}

.card .poster img{
    border-radius: 3px 3px 0 0;
}

.card .content{
    color: #cecece;
    text-align: center;
    padding: 5px 10px;
    font-weight: 600;
    font-family: monospace;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 50px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: flex-end;
}
.card .content .title{
    position: absolute;
    bottom: 20px;
    background: #000000a6;
    padding: 10px 5px;
    width: 100%;
    left: 0;
}
.card .info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.card .info .year img{
    float: left;
    height: 15px;
    margin-right: 8px;
}

.card .info .vote img{
    float: right;
    height: 15px;
    margin-left: 8px;
}

.card .moreinfo{
    position: absolute;
    top: 0;
    height: 100%;
    background: #000000b0;
    color: white;
    padding: 15px;
    text-align: justify;
}

.card .moreinfo .original_language{
    text-transform: uppercase;
    float: left;
}

.card .moreinfo .original_language .flag{
    float: left;
    height: 18px;
    margin-right: 8px;
}

.card .moreinfo .vote_average{
    float: right;
}

.card .moreinfo .vote_average .rating{
    float: right;
    height: 18px;
    margin-left: 8px;
}

.card .moreinfo .overview{
    margin-top: 40px;
}

.card .trailer{
    margin-top: 10px;
    text-align: center;
}

.friend-avatar{
    margin-right: 5px;
}
ion-list.mm-list{
    width: 100%;
}

.friends-matches-badge{
    background: #084229;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 2px;
    border-radius: 3px;
    text-align: center;
    color: white;
    min-width: 15px;
    font-size: 10px;
    border: 1px solid #032516;
    box-shadow: 1px 1px 4px black;
}

.swiper-slide img{
    width: 100%;
}

.qr-img-btn{
    position: absolute;
    top: 20px;
    right: 0;
}

.qr-img-container{
    background-color: #ffffff85;
}

.qr-img-container .popover-content{
    padding: 20px;
    background-color: white;
    width: 80%;
    top: 40px!important;
}

.qr-img-container .popover-content ion-img{
    max-width: 300px;
    margin: 0 auto 30px auto;
}
